<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TeChatter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <!-- favicon link format -->
  <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
  <!-- viewport tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h3><span class="title-a">TeCh</span>atter</h3>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/scrape">Newest</a></li>
          <li><a href="/articles">Saved</a></li>
        </ul>
      </div>
    </nav>
  </header>

  {{{ body }}}
</body>
</html>