<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>News Talk</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <!-- favicon link format -->
  {{!-- <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico"> --}}
  <!-- viewport tag -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {{{ body }}}
</body>
</html>