<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>View All Articles</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        {{#each articles}}
        <li>
          <h4>{{headline}}</h4><a href="/articles/{{_id}}">View Comments</a> | <a target="_blank" href={{link}}>View on TechCrunch</a>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
