<div class="container">
  {{#if newArticles}}
  <div class="row">
    <div class="col-md-12">
      <h3>Fresh Stories</h3>
      <form method="GET" action="/scrape">
        <button>Scrape for Fresh Stories</button>
      </form>
      <ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{#each newArticles}}
      {{!-- in case any articles on tech crunch were videos etc. and are missing the proper info! --}}
      {{#if headline}}
      <div class="thumbnail">
        <h4>{{headline}}</h4><a target="_blank" href={{link}}>View on TechCrunch</a>
        <form method="POST" action="/articles/{{_id}}?_method=PUT">
          <button type="submit">Save Article</button>
        </form>
      </div>
      {{/if}} 
      {{/each}}
    </div>
  </div>
  {{else}}
  <div class="row">
    <div class="col-md-12">
      <p>Oh no! No new articles here.</p>
    </div>
  </div>
  {{/if}}
</div>