body {
  background-image: url('/assets/img/triangular.png');
}
h1, h2, h3, h4, h5 {
  font-weight: 300;
}
.title-a {
  color: #5cb85c;
  font-weight: 400;
}
.navbar li a {
  color: #5bc0de !important;
  font-weight: 400;
  font-size: 18px;
}

.thumbnail {
  overflow: auto;
  padding: 10px;
}
.thumbnail h4 {
  padding: 8px;
}
.author {
  color: #5bc0de;
  font-size: 16px;
  font-weight: 400;
}
.datetime {
  color: #337ab7;
  font-size: 12px;
  font-weight: 400;
}
.comment-box {
  max-height: 400px;
  overflow: scroll;
}
.comment-box p {
  font-size: 22px;
}
.headline-box .headline-detail {
  color: #5cb85c;
  font-weight: 400;
  text-shadow: white 1px 1px 8px;
}
